:root {
  --primary: #ffffff;
  --primary-light: #FBE9D0;

  --secondary: #000000;
  --secondary-light: #c4c4c4;

  --text: #222222;
  --text-light: #ffffff;

  --border: 1.4rem solid var(--secondary);
  --border-card: 0.25rem solid var(--secondary);

  --shadow: 4px 4px 0px #222222;
  --shadow-hover: 8px 8px 0px #222222;

  --font-title: 1.3rem;
  --font-desc: 1.2rem;

  /* --cursor: "url(/portfolio/assets/cursor.png)" */
}

html {
  cursor: url(/portfolio/assets/cursor.png), auto;
}

a:hover,
button:hover {
  cursor: url(/portfolio/assets/cursor-pointer.png), auto;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

pre {
  margin: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Baloo Thambi 2", system-ui;
}

h1,
h2,
h3 {
  margin: auto 0;
}


.page {
  min-height: 85vh;
  ;
}

.scatter-pattern {
  background-image: url("/assets/pattern-grey.svg");
  background-size: 6px;
}

body {
  background-color: var(--secondary);
  margin: 0;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.1;
  /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}


h1>span:hover {
  text-shadow: 2px 2px var(--secondary), -2px -2px #ff006e;
}

h2>span:hover {
  text-shadow: 2px 2px var(--secondary), -2px -2px #ff006e;
}

/* =========================== Page =========================== */

.main-page {
  margin: auto;
  padding: 6rem 0 0 0;
  width: 100%;
  min-height: 70vh;
  background: var(--primary);
  border: var(--border);
  border-bottom: none;
}

.main-page-header {
  text-align: center;
  padding: 4rem 2rem;
  background: transparent;
  border: none;
  position: relative;
}

/* ======================= Container ================================= */

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 80vw;
  max-width: 1200px;
}

.container h2 {
  margin: 1rem 0;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 1px;
}

/* =================== Buttons =============================== */

.button {
  padding: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background-color: var(--secondary-light);
  text-align: left;
  font-weight: bolder;
  border: var(--border-card);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}