.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  pointer-events: none;

  background: rgba(212, 163, 115, 0.2); /* vintage accent */
  border: 1px solid var(--accent);

  transform: translate(-50%, -50%);
  z-index: 9999;

  transition: background 0.2s ease;
}