.footer {
  /* margin-top: 4rem; */
  padding: 2rem;
  border-top: 1px solid var(--border);
  background: var(--bg-secondary);
}

/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

/* BRAND */
.footer-brand h2 {
  font-family: 'Playfair Display';
  color: var(--accent);
}

.footer-brand p {
  color: var(--text-muted);
  font-size: 0.9rem;
}

/* SOCIALS */
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-socials a {
  text-decoration: none;
  color: var(--text-muted);
}

.footer-socials a:hover {
  color: var(--accent);
}

/* BOTTOM */
.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-muted);
}
.footer {
  box-shadow: 0 -2px 10px rgba(212, 163, 115, 0.1);
}

.footer a {
  position: relative;
}

.footer a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: var(--accent);
  transition: 0.3s;
}

.footer a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-socials {
    align-items: center;
  }
}