.footer {
  /* margin-top: 4rem; */
  /* margin: 2rem; */
  padding: 1rem;
  border-top: 5px solid var(--border);
  /* backdrop-filter: blur(8px); */
  background: var(--button);
  /* box-shadow: 5px 5px black; */
  
}

.footer:hover {
  box-shadow: 10px 10px black;
}


/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

/* BRAND */
.footer-brand h2 {
  font-family: 'Playfair Display';
  color: var(--text-main);
}

.footer-brand p {
  color: var(--text-main);
  font-size: 0.9rem;
}

/* SOCIALS */
.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.footer-socials a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: bold;
}

.footer-socials a:hover {
  color: var(--accent);
}

/* BOTTOM */
.footer-bottom {
  /* margin-top: 2rem; */
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-main);
}

.footer a {
  position: relative;
}

.footer a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: var(--accent);
  transition: 0.3s;
}

.footer a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-socials {
    align-items: center;
  }
}