.footer {
    height: 20vh;
    background: linear-gradient(135deg, #1a3a47 0%, #244855 100%);
    color: #FBE9D0;
    border-top: 1px solid #90AEAD;
    display: flex;
    justify-content: center;
    align-items: center;
}