.header {
    position: fixed;
    height: 50px;
    top: 0px; /* adds floating effect */
    
    left: 50%;
    transform: translateX(-50%); /* centers it */

    width: 50%;
    max-width: 900px; 

    padding: 1rem 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(8px);

    border: 1px solid var(--border);
    /* border-radius: 12px; */

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* floating effect */

    z-index: 1000;
}

/* DESKTOP NAV */
.nav-links {
    display: flex;
    gap: 4rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-family: 'IBM Plex Mono';
    font-size: 1.3rem;
    position: relative;
}

/* UNDERLINE EFFECT */
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    background: var(--accent);
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* ACTIVE */
.nav-links a.active {
    color: var(--accent);
}
/* ENTRY */
.slide-in {
  animation: slideIn 0.3s ease forwards;
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

/* EXIT */
.slide-out {
  animation: slideOut 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

/* KEYFRAMES */
@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .header {
        width: 100%;
        height: 80px;
    }
}