
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.journey-header .subtitle {
  /* color: #E64833; */
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}


.timeline>.container::-webkit-scrollbar {
  display: none;
}