.home {
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    width: 85%;
    min-height: 70vh;
    /* background-color: aqua; */

    /* border: 0.5rem solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;
}

.item {
    margin: 1rem auto;
    padding: 1.5rem;
    /* width: 500px; */
    width: 40vw;
    height: 300px;

    border-radius: 4rem;
    /* border: 10px solid black; */
    background-color: white;
}

.card-container:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 0px gray;
    transition: all 0.3s ease-in-out;
}

.card-container {
    margin: 2rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: 3rem; */
    /* flex-wrap: wrap; */
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 4rem;
    border: 0.5rem solid black;
    background-color: lightgray;
}

.gallery {
    border: 5px solid black;
    width: 20vw;
}

.gallery>* {}

.gallery-main {
    height: 85%;
    border: 1px solid black;
    /* border-radius: 10px;
  box-shadow: -5px -5px 0px black; */
}

.gallery-sub {
    padding: 0.25rem 2rem;
    /* height: 20%; */
    display: flex;
    justify-content: space-between;
}

.gallery-sub>div {
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid black;
    background-color: rgb(173, 173, 255);
    box-shadow: 5px 5px 0px gray;

    border-radius: 50%;
}

.gallery-sub>div:hover {
    background-color: rgb(160, 160, 233);
    cursor: pointer;
}

.gallery-sub>div:active {
    box-shadow: none;
}